{%- set name = "inception" -%}
{%- set image = "gcr.io/tensorflow/jhseu/inception:v2" -%}
{%- set worker_replicas = 2 -%}
{%- set ps_replicas = 1 -%}

{%- set port = 5000 -%}
{%- set replicas = {"worker": worker_replicas, "ps": ps_replicas} -%}

{%- macro worker_hosts() -%}
  {%- for i in range(worker_replicas) -%}
    {%- if not loop.first -%},{%- endif -%}
    {{ name }}-worker-{{ i }}:{{ port }}
  {%- endfor -%}
{%- endmacro -%}

{%- macro ps_hosts() -%}
  {%- for i in range(ps_replicas) -%}
    {%- if not loop.first -%},{%- endif -%}
    {{ name }}-ps-{{ i }}:{{ port }}
  {%- endfor -%}
{%- endmacro -%}

{%- for job in ["worker", "ps"] -%}
{%- for i in range(replicas[job]) -%}
kind: Service
apiVersion: v1
metadata:
  name: {{ name }}-{{job}}-{{ i }}
spec:
  ports:
    - port: {{ port }}
---
kind: Pod
apiVersion: v1
metadata:
  name: {{ name }}-{{job}}-{{ i }}
spec:
  restartPolicy: Never
  containers:
  - name: tensorflow
    image: {{ image }}
    env:
    - name: PYTHONPATH
      value: "/"
    - name: GOOGLE_APPLICATION_CREDENTIALS
      valueFrom:
        secretKeyRef:
          name: credential
          key: TensorFlow-8a3b94f6b361.json
    ports:
    - containerPort: {{ port }}
    command:
    - "/usr/bin/python"
    - "/inception/imagenet_distributed_train.py"
    args:
    - "--data_dir=gs://tensorflow-benchmark/imagenet"
    - "--train_dir=gs://tensorflow-benchmark/checkpoint"
    - "--task_id={{ i }}"
    - "--job_name={{ job }}"
    - "--worker_hosts={{ worker_hosts() }}"
    - "--ps_hosts={{ ps_hosts() }}"
  volumes:
  - name: credential
    secret:
      secretName: credential
---
{% endfor %}
{%- endfor -%}
